* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  header{
    width:100%;
    height: 500px;
    background-color:white;
  }

  .navbar {
    width: 100vw;
    height: 74px;
    background-color:whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
     
  }
  .navbar h1{
        margin-left: 70px;
        font-size: 30px;
        font-weight: 700;
  }
  .navbar h1 span{
    margin-left: 5px;
    color:rgb(248, 140, 8);
  }
  .navbar ul {
    display: flex;
    list-style-type: none;
    transition: 0.4s ease-in-out;
  }
  .navbar ul li {
    padding: 0 20px;
  }
  .navbar ul li a {
    text-decoration: none;
     margin-right: 30px;
     font-size: 20px;
     color: black;
  }
  .navbar ul li a:hover {
    color:rgb(248, 140, 8);
  }
  .Home{
    display: flex;
    margin-left: 40px;
    margin-top: 30px;
  }
  .Home h3{
    background-color:rgb(249, 238, 225);
    padding: 12px;
    width: 150px;
    text-align: center;
    border-radius: 25px;
    color:rgb(248, 140, 8) ;
    margin-bottom: 30px
  }
  .Home h4{
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }
  .Home h4 span{
    color:rgb(248, 140, 8) ;
  }
  .Home .p{
    margin-top: 25px;
  }
  .Home p{
    font-size: 14px;
  }
  .Home img{
    width: 650px;
    height: 450px;
  }
  .Home .btn{
    margin-top: 30px;
    display: flex;
  }
  .Home .btn h2{
    background-color:rgb(248, 140, 8);
    color: white;
    width: 160px;
    text-align: center;
    padding: 12px;
    border-radius: 25px;
  }
  .Home .btn i{
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
    border: 3px solid yellow;
    border-radius: 50%;
    padding: 5px;
    color: rgb(248, 140, 8);
  }
  .Home .btn span{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 5px;
    
  }
  .About h1{
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
  }
  .About p{
    text-align: center;
  }
  .About .content {
    display: flex;
  }
  .content i{
    text-align: center;
    margin-left: 40%;
    margin-top: 30px;
    background-color: blue;
    font-size: 35px;
    padding: 15px;
    border-radius: 50%;
    color: white;
    align-items: center;
  }
  .content h2{
    text-align: center;
    margin-top: 20px;
  }
  .content p{
    font-size: 14px;
    margin-left: 55px;
  }
  .content span i{
    background-color:rgb(248, 140, 8) ;
  }
  .content h3 i{
    background-color: darkgreen;
  }
.Menu{
  width: 100%;
   
}
  .Menu h1{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 10px;
  }
  .Menu p{
  text-align: center;
  }
  .conttener{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    
   }
   .conttener .img{
    width: 185px;
     margin-left: 15px;
    border: 1.5px solid rgb(115, 113, 113);
   }
   .conttener .img img{
    width: 80%;
    height: 120px;
    text-align: center;
    margin-left: 10%;
    margin-top: 10px;
   }
   .conttener .img .icon{
    margin-top: 10px;
    color: rgb(248, 140, 8);
    margin-left: 5px;
   }
   .conttener .img h3{
    margin-top: 8px;
    margin-left: 5px;
   }
   .conttener .img h5{
    margin-left: 5px;
    margin-top: 5px;
    font-size: 12px;
   }
   .conttener .img .price{
    display: flex;
    margin-left: 5px;
    margin-top: 10px;
   }
   .conttener .img .price div{
    margin-left:90px ;
   }
   .conttener .img .price div span i{
    color: red;
   }
   .conttener .img .price div i{
    color: darkgreen;
    margin-bottom: 20px;
   }
    
   .Blog-contener .img{
    width: 90%;
    height: 530px;
  background-color:rgb(255, 249, 239);
  margin-left: 5%;
  margin-top: 20px;
  display: flex;
   }
   .Blog-contener .img img{
    width: 300px;
    height: 100%;
   }
   .Blog-contener .img .Order{
    width: 670px;
    height: 400px;
    background-color: rgb(255, 249, 239);
    margin-left: 150px;
    margin-top: 120px;
   }
   .Blog-contener .img .Order h3{
   background-color: rgba(252, 240, 195, 0.881);
   width: 150px;
   padding: 12px 0px;
   font-size: 20px;
   text-align: center;
   border-radius: 20px;
   color: rgb(248, 140, 8);
   margin-bottom: 20px;
   }
   .Blog-contener .img .Order h1{
    font-size: 35px;
   }
   .Blog-contener .img .Order .Pergraph{
    margin: 20px 0px;
     letter-spacing: 0.25px;
   }
   .Blog-contener .img .Order p{
    margin-top: 10px;
     font-size: 14px;
   }
   .Blog-contener .img .Order h2{
    padding: 12px 0px;
    background-color:rgb(248, 140, 8) ;
    color: white;
    width: 160px;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
     
   }
   .contener{
    display: flex;
    width: 100%;
   }
   .contener .content{
   margin-top: 80px;
   margin-left: 100px;
}
.contener .content h1{
  font-size: 30px;
}
.contener .content h4{
  font-size: 14px;
  margin-top: 10px;
}
.contener .content div {
  margin-top: 10px;
}
.email{
  width: 80%;
  height: 80px;
  margin-left: 10%; 
border: 3px solid rgba(0, 0, 0, 0.05);
border-radius: 20px;
display: flex;
}
.email span i{
   
  border-radius: 50%;
  margin-left: 50px;
  margin-top: 15px;
  font-size: 20px;
  background-color:rgb(248, 140, 8) ;
  color: white;
  padding: 10px;
}
.email .icon{
  margin-left: 500px;
}
.foter{
  width: 100%;
  height: 300px;
  background-color: rgb(4, 4, 42);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;

}
.foter .Social h1{
margin-top: 40px;
text-align: center;
font-size: 30px;
margin-bottom: 20px;
} 
.foter .Social h1 span{
  margin-left: 5px;
  color:rgb(248, 140, 8) ;
} 
.foter .Social p{
  text-align: center;
  font-size: 14px;
  margin-top: 6px;
}
.foter .Social div {
  margin-top: 20px;
   text-align: center;
}
.foter .Social div i{
  font-size: 20px;
}
.foter .Social div i:hover{
  color:rgb(248, 140, 8)  ;
}
.link{
  margin-top:40px ;
  text-align: center;
}
.link h1{
  font-size: 30px;
  color:rgb(248, 140, 8) ;
  margin-bottom: 15px;
}
.link h3{
  font-size: 16px;
  margin-top: 8px;
}
.new{
  margin-top: 40px;
}
.new h1{
  font-size: 30px;
  color:rgb(248, 140, 8) ;
  margin-bottom: 20px;
  text-align: center;
  
}
.new p{
  margin-top: 5px;
  font-size: 15px;
  text-align: center;
}
.new div{
  width: 300px;
  height: 80px;
  background-color: white;
  margin-left: 60px;
  margin-top: 30px;
  color: black;
  border-radius: 14px;
  display: flex;
}
.new div h3{
  margin-left: 20px;
  margin-top: 27px;
  font-size: 16px;
   
}
 
.new div i{
  background-color:rgb(248, 140, 8) ;
  color: white;
  margin-left: 80px;
  font-size: 25px;
  padding: 7px;
  border-radius: 5px;
   margin-top: 20px;
   margin-bottom: 20px;
}